@model IEnumerable<FbcBookIt.Entity.Student>

<table class="table">
    <tr>
        <th>
            First
        </th>
        <th>
            Middle
        </th>
        <th>
            Last
        </th>
        <th>
            DOB
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            Vision Diagnosis
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-id="@item.StudentID">
            <td class="fname">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td class="lname">
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td class="mname">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td class="dob">
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td class="gender">
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td class="grade">
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td class="diagnosis">
                @Html.DisplayFor(modelItem => item.VisionDiagnosis)
            </td>
            <td>
                <input type="button" value="Select" class="pickStudent" />
            </td>
        </tr>
    }
</table>