<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BookIt Admin</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("header", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Foundation for Blind Children", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action(MVC.Home.Index())"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                    <li><a href="@Url.Action(MVC.Title.Index())"><i class="glyphicon glyphicon-book"></i> Titles</a></li>
                    <li><a href="@Url.Action(MVC.BookRequest.Index())"><i class="glyphicon glyphicon-cloud-download"></i> Book Requests</a></li>
                    <li><a href="@Url.Action(MVC.BookLoan.Index())"><i class="glyphicon glyphicon-cloud-upload"></i> Book Loans</a></li>
                    <li><a href="@Url.Action(MVC.Teacher.Index())"><i class="glyphicon glyphicon-user"></i> Teachers</a></li>
                    <li><a href="@Url.Action(MVC.Student.Index())"><i class="glyphicon glyphicon-education"></i> Students</a></li>
                    <li><a href="@Url.Action(MVC.DataManager.Index())"><i class="glyphicon glyphicon-list"></i> Data Manager</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Foundation for Blind Children</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
            $(function () {
                $('.datetimepicker').datetimepicker({
                    format: 'SD'
                });
            });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
